<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="github" value="https://nuget.pkg.github.com/MerinJoseph92/index.json"/>
  
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="MerinJoseph92"/>
        <add key="ClearTextPassword" value="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"/>
    
    </github>
  </packageSourceCredentials>
</configuration>